<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="audit" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <host>audit.nais</host>
            <port>6514</port>
            <ident>tiltakspenger-vedtak</ident>
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <logger level="INFO" name="audit" additivity="false">
        <appender-ref ref="audit"/>
    </logger>

    <logger name="no.nav.helse.rapids_rivers" level="INFO"/>
    <logger name="io.ktor.auth.jwt" level="TRACE"/>

    <logger name="tjenestekall" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT_JSON"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>
</configuration>
